// Organism
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Molecules
.two-main-header-area,
.two-des-header-area,
.two-second-header-area,
.two-second-des-header-area,
.two-circle-image-area {
  width: 85vw;
  height: fit-content;
  margin-top: 22vw;
  border: 1px solid black;
}
.two-main-header-area {
  //border: none;
}
.two-des-header-area,
.two-second-des-header-area {
  height: fit-content;
  margin-top: 2vw;
}
.two-second-des-header-area {
  height: 25vw;
}
.two-second-header-area {
  height: 10vw;
  margin-top: 15vw;
}
.two-circle-image-area {
  display: flex;

  margin-top: 10vw;
  height: 15vw;
  border: none;
}
.two-card-image,
.two-inner-card-area {
  width: 85vw;
  height: 45vw;
  margin-top: 15vw;
  border: solid black 0.5px;
  // background-color: black;
}
.two-inner-card-area {
  height: 106vw;
  border: none;
  margin-bottom: 15vw;
  background-color: rgba(232, 182, 182, 0.4);
}
.one-box-link {
  width: 100%;
  height: 15vw;
  background-color: rgba(232, 182, 182, 1);
}

// Atoms
.two-header-text {
  font-size: 4rem;
}
.circle-img {
  height: 15vw;
  width: 15vw;
  border: solid 1px black;
  border-radius: 45px;
}
.two-circle-text {
  font-size: 1.4rem;
  margin-top: 3vw;
  margin-left: 3vw;
  line-height: 20px;
}
.two-des-header-area {
  font-size: 2rem;
  line-height: 3rem;
  border: none;
  border: solid black 0.5px;
}
