@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
// Small laptop screen
@media (min-width: 1600px) {
  .s-main-header-area,
  .s-des-area {
    margin: 0vw 5vw;
  }
  .s-button-area {
    margin: 10vw 5vw;
  }

  // Organism
  .section-six {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-section-six {
    display: none;
  }
  // Molecuels
  .s-main-header-area,
  .s-des-area {
    margin: 0 5vw;
    margin-top: 10vw;
  }
  .s-main-header-area {
    margin-right: 45vw;
  }
  .s-des-area {
    margin-top: 5vw;
  }
  .s-button-area {
    margin: 10vw 5vw;
    height: 50px;
    width: 180px;
    background-color: blue;
    //border-radius: 5px;
    border-radius: 100px;
    cursor: pointer;
  }
  .s-footer-area {
    display: flex;
    place-content: center;
    margin-top: 20vw;
    margin-bottom: 5vw;
  }
  // Atoms
  .s-footer-text,
  .s-header-text,
  .s-des-area {
    color: white;
  }
  .s-header-text {
    font-size: 5rem;
  }
  .s-des-area {
    font-size: 3rem;
  }
}
/////////////////////////////// Mobile ///////////////////////////////

@media (max-width: 530px) {
  // Organism
  .section-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
  }
  // Molecuels
  .s-main-header-area,
  .s-des-area {
    width: 85vw;
    height: 20vw;
    margin-top: 10vw;
  }
  .s-main-header-area {
    margin-top: 20vw;
  }
  .s-des-area {
    height: 50vw;
  }
  .s-button-area {
    width: 85vw;
    margin-right: 33.5vw;
    height: 15vw;
    width: 51.5vw;
    background-color: blue;
    margin-top: 7.5vw;
    display: flex;
    align-items: center;
    place-content: center;
    border: none;
    //border-radius: 5px;
    border-radius: 100px;
    cursor: pointer;
  }
  .s-footer-area {
    margin-top: 55vw;
    margin-bottom: 5vw;
    place-items: center;
  }
  // Atoms
  .s-footer-text,
  .s-header-text,
  .s-des-area {
    color: white;
  }
  .s-des-text {
    line-height: 2.5rem;
  }
  .s-header-text {
    font-size: 3rem;
  }
  .s-des-area {
    font-size: 2rem;
  }
  .button-text-footer {
    font-size: 1.5rem;
    color: #ffffff;
  }
  ////// contact input mobile ////////
  .email-area {
    height: 50vw;
    width: 85vw;
    //background-color: black;
  }
  .input-para {
    margin-top: 5vw;
    //color: white;
    //background-color: black;
    text-align: center;
  }
  .input-lable {
    display: block;
  }
  // Chrome
  ::-webkit-input-placeholder {
    //color: #c5ecfd;
  }
  // Firefox
  ::-moz-input-placeholder {
    //color: #c5ecfd;
  }
  // Internet Explorer
  ::-ms-input-placeholder {
    //color: #c5ecfd;
  }
}
/////////////////////////////// Desktop ///////////////////////////////

@media (min-width: 531px) {
  // Organism
  .section-six {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-section-six {
    display: none;
  }
  // Molecuels
  .s-main-header-area,
  .s-des-area {
    margin: 0 17vw;
    margin-top: 10vw;
  }

  .s-main-header-area {
    margin-right: 45vw;
  }
  .s-des-area {
    margin-top: 5vw;
  }
  .s-button-area {
    margin: 10vw 17vw;
    height: 50px;
    width: 180px;
    background-color: blue;
    display: flex;
    align-items: center;
    place-content: center;
    border: none;
    //border-radius: 5px;
    border-radius: 100px;
    cursor: pointer;
  }
  .s-footer-area {
    display: flex;
    place-content: center;
    margin-top: 20vw;
    margin-bottom: 5vw;
  }
  ////// contact input  ////////
  .email-area {
    //height: 50vw;
    height: fit-content;
    // width: 85vw;
    margin: 0 17vw;
    //background-color: black;

    background: url(../imgs/roundBlckInputBg.jpg) no-repeat top center;
    background-size: cover;

    //background-position-y: 80%;
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "name company"
      "email phone";
  }
  .name-para {
    grid-area: name;
  }
  .company-para {
    grid-area: company;
  }
  .email-para {
    grid-area: email;
  }
  .phone-para {
    grid-area: phone;
  }

  .input-para {
    font-size: 2rem;
    margin-top: 5vw;
    //color: white;
    //background-color: black;
    text-align: center;
  }
  input {
    height: 2vw;
    padding: 0 1vw;
  }
  textarea {
    padding: 1vw 1vw;
    height: 7vw;
  }
  input,
  textarea {
    width: 15vw;
    background: transparent;
    border: none;
    border-bottom: 0.1px solid #ffffff;
    color: #ffffff;
  }
  // Chrome
  ::-webkit-input-placeholder {
    //color: #c5ecfd;
  }
  // Firefox
  ::-moz-input-placeholder {
    //color: #c5ecfd;
  }
  // Internet Explorer
  ::-ms-input-placeholder {
    //color: #c5ecfd;
  }
  .email-submit {
    //height: 3vw;
    //width: 17.5vw;
    height: 50px;
    width: 180px;
    border: none;
    font-size: 1.5rem;
    //color: #ffffff;
    //color: #c5ecfd;
    color: #f5f5f5;
    //background-color: $secOneButton;
    //background-color: #39b7dd;
    //background-color: #000000;
    background-color: #000000;
    cursor: pointer;
    //text-transform: uppercase;
    //border-radius: 5px;
    border-radius: 100px;
    border: 0.1px solid white;
  }
  .email-submit:hover {
    background-color: #2b2a2a;
  }
  .input-lable {
    margin-bottom: 1vw;
    display: block;
    color: #ffff00;
  }
  // Atoms
  .s-footer-text,
  .s-header-text,
  .s-des-area {
    color: white;
  }
  .s-footer-text {
    font-family: $logofont;
  }
  .s-des-text {
    line-height: 4rem;
  }
  .s-header-text {
    font-size: 5rem;
  }
  .s-des-area {
    font-size: 2.5rem;
  }
  .button-text-footer {
    font-size: 1.5rem;
    color: #ffffff;
  }
}
////// contact input mobile ////////
@media (max-width: 530px) {
  .email-area {
    //height: 50vw;
    height: fit-content;
    width: 85vw;
    //background-color: black;
    background: url(../imgs/roundBlckInputBg.jpg) no-repeat top center;
    background-size: cover;
  }
  .input-para {
    margin-top: 5vw;
    // color: white;
    // background-color: black;
    text-align: center;
  }
  .input-lable {
    display: block;
    margin-bottom: 1vw;
    font-size: 1.5rem;
    color: #ffff00;
  }
  .email-submit {
    height: 50px;
    width: 205px;
    font-size: 1.5rem;
    //background-color: $secOneButton;
    border: none;
    color: #ffffff;
    //background-color: $secOneButton;
    //background-color: #39b7dd;
    //background-color: #2b2a2a;
    cursor: pointer;
    text-transform: uppercase;
    //border-radius: 5px;
    border-radius: 100px;

    background-color: black;
    border: white solid 0.1px;
  }

  input,
  textarea {
    padding: 3vw 2vw;
    //width: 186px;
    width: 290px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }
}
