// Mobile
@media (max-width: 530px) {
  // .burger.fa-2x {
  //   color: white;
  //   padding-left: 65vw;
  //   //padding-top: 20px;
  // }
  .burger {
    color: white;
    padding-left: 65vw;
    //padding-top: 20px;
  }
  .logo {
    color: white;
    padding-left: 20px;
    //padding-top: 20px;
    font-size: 2rem;
    font-family: $logofont;
  }
  .nav-area {
    //border: blueviolet solid 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // FIXED Navigation in Mobile
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    //
  }
  .nav-container {
    //border: blueviolet solid 3px;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 345px) {
  // .burger.fa-2x {
  //   color: white;
  //   padding-left: 55vw;
  //   //padding-top: 20px;
  // }
  .burger {
    color: white;
    padding-left: 55vw;
    //padding-top: 20px;
  }
}

/////////////////////////////

// Desktop
// .fa-2x {
//   color: white;
//   padding-left: 90vw;
//   //padding-top: 20px;
// }
.logo {
  color: white;
  padding-left: 20px;
  //padding-top: 20px;
  font-size: 2rem;
}
.nav-area {
  //border: blueviolet solid 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // FIXED Navigation in Mobile
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  //
}
.nav-container {
  //border: blueviolet solid 3px;
  display: flex;
  flex-direction: row-reverse;
}
