// Organism
.section-five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Molecules
.little-text-area {
  margin-right: 64vw;

  height: fit-content;
  width: 20vw;
  border: 1px solid black;
  margin-top: 20vw;
}
.f-main-header-area,
.five-main-text-area,
.one-card-area,
.two-card-area,
.three-card-area {
  width: 85vw;
  height: fit-content;
  margin-top: 10vw;
  border: solid black 0.5px;
  font-size: 2rem;
}
.one-card-area {
  margin-top: 20vw;
}
.three-card-area {
  margin-bottom: 20vw;
}
.one-card-area,
.two-card-area,
.three-card-area {
  //border: solid black 0.5px;
  height: 70vw;
  background-color: rgba(160, 115, 174, 0.35);
}
// Atoms
