// Small laptop screen

@media (max-width: 1600px) {
  .section-five {
    grid-area: section-five;
    margin: 0vw 5vw;
  }
  .five-circle-text {
    margin: 0vw 1vw;
  }
  // .five-icon.fa-2x {
  //   font-size: 1em;
  //   color: $secFiveIconsColor;
  // }
  .five-icon {
    font-size: 1em;
    color: $secFiveIconsColor;
  }
}
/////////////////////////////// Mobile ///////////////////////////////

@media (max-width: 530px) {
  // Organism
  .section-five {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // Molecules
  .little-text-area {
    margin-right: 64vw;
    height: fit-content;
    width: 20vw;
    margin-top: 20vw;
  }
  .f-main-header-area,
  .five-main-text-area,
  .one-card-area,
  .two-card-area,
  .three-card-area {
    width: 85vw;
    height: fit-content;
    margin-top: 10vw;
    font-size: $secFiveHeaderMobFs;
  }
  .one-card-area {
    margin-top: 20vw;
  }
  .three-card-area {
    margin-bottom: 20vw;
  }
  .one-card-area,
  .two-card-area,
  .three-card-area {
    height: 70vw;
    background-color: $secFiveCardsBg;
  }
  // inner boxes imgs and text
  .pic-box-one,
  .header-box,
  .header-box-text,
  .pic-box-two,
  .pic-box-three {
    margin: 7vw 6vw;
  }
  .pic-box-one,
  .pic-box-two,
  .pic-box-three {
    height: 15vw;
    width: 15vw;
  }
  .header-box-text {
    font-size: 1.5rem;
  }
  .header-box {
    margin-top: 10vw;
  }
  // Atoms
  .fa-2x {
    font-size: 3em;
  }
  .five-icon {
    color: $secFiveIconsColor;
    padding-left: 0vw;
  }
  .five-little-header {
    font-weight: lighter;
    font-size: 1.8rem;
  }
}
/////////////////////////////// Desktop ///////////////////////////////

@media (min-width: 531px) {
  // Organism
  .section-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vw;
  }
  .mobile-section-five {
    display: none;
  }
  .box2-five {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem;
  }
  // Molecules
  .little-text-area {
    margin-right: 5vw;
    height: fit-content;
    margin-top: 5vw;
  }
  .f-main-header-area,
  .five-main-text-area,
  .two-card-area,
  .three-card-area,
  .one-card-area {
    height: fit-content;
    margin-top: 3vw;
    font-size: $secFiveHeaderFs;
  }
  .five-main-text-area {
    font-size: 2rem;
    line-height: 3rem;
  }
  .f-main-header-area,
  .five-main-text-area {
    margin-top: 2vw;
    margin-right: 35vw;
  }
  .one-card-area,
  .two-card-area,
  .three-card-area {
    //height: fit-content;
    height: 20vw;
    background-color: $secFiveCardsBg;
  }
  // inner boxes imgs and text
  .header-box,
  .header-box-text,
  .pic-box-one,
  .pic-box-two,
  .pic-box-three {
    margin: 1vw 2vw;
  }
  .pic-box-one,
  .pic-box-two,
  .pic-box-three {
    height: 4vw;
    width: 4vw;
    margin: 2vw 2vw;
  }
  .header-box-text {
    //font-size: 1.5rem;
    font-size: 1.3vw;
  }
  .five-icon {
    color: $secFiveIconsColor;
  }
  .five-little-header {
    font-weight: lighter;
    font-size: 2rem;
  }
}
