/////////////////////////////// Desktop ///////////////////////////////

@media (min-width: 531px) {
  // Organism

  .desktop-area {
    display: flex;
    flex-wrap: wrap;
  }
  .box1 {
    width: 26%;
    margin: 5vw 0 5vw auto;
  }
  .box2 {
    width: 40%;
    margin-right: auto;
    margin: 5vw auto 5vw 0;
  }
  .mobile-section-one {
    display: none;
  }

  .main-image-area {
    width: 100%;
    height: 27vw;
  }
  .button-two-one-area {
    float: right;
  }
  .main-image-area {
    //background-image: url(../imgs/deskTopWhite.jpg);
    //background-position-y: -50px;
    background: url(../imgs/deskTopWhite.jpg) no-repeat top center;

    background-size: cover;
    margin-top: 5vw;
  }
  .main-header-area,
  .para-description-area,
  .button-one-area {
    width: 45vw;
    height: auto;
  }
  .main-header-area,
  .para-description-area {
    width: 22vw;
  }
  .para-description-area {
    margin-bottom: 5vw;
  }
  .button-one-area,
  .button-two-one-area {
    height: 50px;
    width: 180px;
    background-color: $secOneButton;
    display: flex;
    align-items: center;
    place-content: center;
  }
  .button-one-area {
    margin-top: 1vw;
  }
  // Atoms
  .main-header-text {
    font-size: 5rem;
    line-height: 6rem;
    //border: solid black 0.5px;
  }
  .para-des-text {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0.5vw;
  }
  .logo-area-desk {
    margin-bottom: 5vw;
    font-size: 2rem;
    font-family: $logofont;
  }
  .main-header-area {
    margin-top: 9vw;
  }
  .button-text {
    font-size: 1.5rem;
    color: black;
  }
}
/////////////////////////////// Small laptop screen ///////////////////////////////

@media (max-width: 1600px) {
  .box1 {
    width: 34.5%;
    // margin-left: auto;
    // margin-bottom: 5vw;
    margin: 5vw 0 5vw auto;
  }
  .box2 {
    width: 55%;
    margin-right: auto;
    margin: 5vw auto 5vw 0;
  }
  .main-header-area,
  .para-description-area {
    width: 25vw;
  }
}
/////////////////////////////// Mobile ///////////////////////////////
@media (max-width: 530px) {
  // Organism
  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Molecules
  .main-image-area,
  .main-header-area,
  .para-description-area,
  .button-one-area {
    width: 85vw;
    height: 63vw;
    margin-top: 5vw;
  }
  .main-image-area {
    background-image: url(../imgs/deskTopWhite.jpg);
    background-size: cover;
  }
  .main-header-area,
  .para-description-area,
  .button-one-area {
    width: 85vw;
    height: auto;
    margin-top: 5vw;
  }
  .para-description-area {
    margin-bottom: 15vw;
  }
  .button-one-area {
    margin-right: 33.5vw;
    height: 15vw;
    width: 51.5vw;
    background-color: $secOneButton;
    margin-top: 7.5vw;
    margin-bottom: 10vw;
    display: flex;
    align-items: center;
    place-content: center;
  }
  .button-two-one-area {
    display: none;
  }
  // Atoms
  .main-header-text {
    font-size: $mainHeadersMobFs;
    line-height: 5rem;
  }
  .para-des-text {
    font-size: 2rem;
    line-height: 3rem;
  }
  .logo-area-top {
    display: none;
  }
  .box1,
  .box2 {
    display: none;
  }
  .button-text {
    font-size: 1.5rem;
    color: black;
  }
}
